@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
    --bg-color: #1e1e2e;
    --text-color: #cdd6f4;
    --accent-color: #89b4fa;
    --link-hover: #fab387;
    --card-bg: #313244;
    --border-radius: 10px;
}

body {
    font-family: 'Fira Code', monospace;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50em;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
    text-align: center;
    color: var(--accent-color);
}

p {
    font-size: 25px;
    line-height: 1.6;
}

.problem-section {
    background: var(--card-bg);
    padding: 25px;
    border-radius: var(--border-radius);
    margin-top: 20px;
}

h2, h4 {
    font-size: 24px;
    color: var(--accent-color);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

a, li {
    color: var(--accent-color);
    text-decoration: none;
    font-size: 22px;
    transition: color 0.3s;
}

a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}
